# BackEnd Files

dotnetapp/Migrations/
dotnetapp/bin/
dotnetapp/obj/
dotnetapp/cred.sh


# Front End File

reactapp/node_modules

reactapp/src/apiConfig.js
reactapp/src/tests

reactapp/package-lock.json


# Other Files

/nunit
/react
/TestProject/

